@{
    ViewData["Title"] = "Coleta De Concentração";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .input {
            border: none;
        }

        .table {
            margin: 0 auto;
            border: 1px solid black;
            border-collapse: collapse;
            width: 80%;
        }

        .texto-central {
            text-align: center;
        }

        .tabela {
            background-color: #800000;
            color: white;
        }

        .imagem {
            max-width: 200px;
            height: 100px;
            display: block;
            margin: 0 auto;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <form method="post">
        <table class="table table-bordered border-secondary  table-sm">
            <tr>
                <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                </td>
                <td colspan="3" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :</td>
            </tr>
            <tr class="tabela">
                <td colspan="3" class="texto-central "> ENSAIO DE ARLA 32</td>
            </tr>
            <tr>
                <td style="background-color: #800000; color:white;">Data Inicio:</td>
                <td><input class="form-control input " /></td>
                <td style="background-color: #800000; color:white;">Data Término:</td>
                <td><input class="form-control input " /></td>
            </tr>
            <tr class="texto-central">
                <td colspan="5">
                    <b>Ensaio a ser realizado:</b> Determinação da concentração de aldeído - Anexo F - IT.128-Q
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    Norma: ABNT NBR ISO 22241-2
                </td>
            </tr>
            <tr>
                <td colspan="5"> Np:</td>
            </tr>
            <tr>
                <td colspan="5">Descrição:</td>
            </tr>
            <tr class="tabela">
                <td colspan="5"></td>
            </tr>
        </table>
        <Br />

        <!--  Segudna tabela.  -->
        <table class="table table-bordered border-secondary table-sm">
            <tr class="tabela">
                <td colspan="8" class="texto-central">Medição de amostra</td>
            </tr>
            <tr>
                <td colspan="2"> Lote da solução padrão </td>
                <td colspan="6"><input class="form-control input " /> </td>
            </tr>
                 <td colspan="2"> Código de curva </td>
            <td colspan="2"> <input class="form-control input " /></td>
                 <td colspan="2"> Fator de calibração:</td>
            <td colspan="2"> <input class="form-control input " /> </td>
            <tr>

            </tr>
        </table>

        <br />

        <!--  Terceira tabela.  -->
        <table class="table table-bordered border-secondary table-sm">
            <tr class="tabela">
                <td class="texto-central" colspan="2">Massa (g)</td>
                <td class="texto-central">Absorbância</td>
                <td class="texto-central" colspan="2">Máximo permitido 5mg/Kg</td>
            </tr>
            <tr>
            <td>Branco</td>
            <td><input class="form-control input " /></td>
            <td><input class="form-control input " /></td>
            <td rowspan="2"><input class="form-control input " style="height:100px" readonly/></td>
            </tr>
            <tr>
                <td>Amostra</td>
                <td><input class="form-control input " /></td>
                <td><input class="form-control input " /></td>
            </tr>
        </table>

        <br />

        <!--  Quarta tabela.  -->
        <table class="table table-bordered border-secondary table-sm">
            <tr class="tabela"><td colspan="4" class="texto-central">Carta controle</td></tr>
     
            <tr>
                <td> Absorbância QC </td>
                <td> <input class="form-control input " /> </td>
                <td> Concentração QC </td>
                <td> <input class="form-control input  "  readonly/> </td>
            </tr>
        </table>
        <br />

        <!--Quarta Tabela-->

        <table class="table table-bordered border-secondary table-sm">
            <tr class="tabela">
                <td colspan="5" class="texto-central">Materiais Utilizados</td>
            </tr>
            <tr class="tabela">
                <td colspan="3" class="texto-central">Matéria prima</td>
                <td colspan="1" class="texto-central">Lote</td>
                <td colspan="1" class="texto-central">Validade</td>
            </tr>
            <tr>
                <td colspan="3"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
            </tr>
            <tr>
                <td colspan="3"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
            </tr>
            <tr>
                <td colspan="3"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
            </tr>
            <tr>
                <td colspan="3"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
            </tr>
         </table>
        <br />

        <!--Quinta Tabela-->
        <table class="table table-bordered border-secondary table-sm">
            <tr class="tabela">
                <td colspan="8" class="texto-central">Código de instrumentos utilizados</td>
            </tr>
            <tr class="tabela">
                <td colspan="2">Descrição</td>
                <td colspan="1"> Códigp </td>
                <td colspan="1">Validade</td>
                <td colspan="2"> Descrição </td>
                <td colspan="1">Código</td>
                <td colspan="1">Validade</td>
            </tr>
            <tr>
                <td colspan="2"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="2"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
            </tr>
            <tr>
                <td colspan="2"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="2"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
                <td colspan="1"><input class="form-control input " /></td>
            </tr>
        </table>
        <br />

        <!--Sexta Tabela-->
        <table class="table table-bordered border-secondary table-sm">
            <tr class="tabela">
                <td colspan="8" class="texto-central">Equipamentos e Dispositivos: </td>
            </tr>
            <tr>
                <td colspan="1">DE</td>
                <td colspan="7"><input class="form-control input " /></td>
            </tr>
            <tr>
                <td colspan="1">EE</td>
                <td colspan="7"><input class="form-control input " /></td>
            </tr>
         </table>
        <br/>

        <!--Sexta Tabela-->
        <table class="table table-bordered border-secondary table-sm">
            <tr class="tabela">
                <td>Observações</td>
            </tr>
            <tr>
                <td rowspan="2"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="border:none"></textarea></td>
            </tr>
        </table>
        <br/>

        <div class="d-grid gap-2 d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar Coleta</button>
        </div>
    </form>




        @section Scripts {
            @if (TempData.ContainsKey("Mensagem"))
            {
            <script>

                alert('@Html.Raw(TempData["Mensagem"])');
            </script>
            }
    }
</body>
</html>
