@model List<HomeModel.Resposta>

@{
    ViewData["Title"] = "Pagina Inicial";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <h1> Coleta Arla32 </h1>
    <form class="form-inline" asp-controller="Home" asp-action="BuscarOS" method="post">
        <div class="container mt-4">
            <div class="row">
              
                @if (Model != null)
                {

                    <label class="form-label"> <strong> Pesquisar OS </strong></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="OS" name="OS">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary  w-100  btn-block">Pesquisar</button>
                    </div>
                    <br/>

                    <br />  <br /> 
                    <table class="table table-bordered">
                        <thead class="table-dark">

                          
                                <tr class="table-active">
                                    <th scope="col">OS: @ViewBag.OS</th>
                                    <th scope="col">OS</th>
                                    <th scope="col">Orçamento :</th>
                                    <th scope="col">Orcamento</th>
                                </tr>
                            
                        </thead>
                        <tbody class="table-group-divider">
                       
                                <tr>
                                    <td colspan="4" style="text-align:center">  <strong>ANEXOS</strong></td>
                                </tr>
                            @for (var j = 0; j < Model.Count; j++)
                            {
                                var resultado = Model[j];

                                <tr>
                                    <td colspan="3">@resultado.Descricao</td>
                                    <td>  <button type="submit" class="btn btn-primary  w-100  btn-block">Anexo</button> </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <label class="form-label"> <strong> Pesquisar OS </strong></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="OS" name="OS">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary  w-100  btn-block">Pesquisar</button>
                    </div>

                }
            </div>
        </div>
    </form>

    @section Scripts {
        @if (TempData.ContainsKey("Mensagem"))
        {
            <script>

                alert('@Html.Raw(TempData["Mensagem"])');
            </script>
        }
    }
</body>
</html>

