@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>

</head>
<body>
    <h1> Coleta Arla32 </h1>

<form class="form-inline" asp-controller="Home" asp-action="BuscarOS" method="post">
        <div class="container mt-4">
        <div class="row">
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label"> <strong> Ordem de Serviço </strong></label>
            <input type="email" class="form-control" id="os" name="os">
        </div>
         <div class="col-md-3">
            <label for="inputEmail4" class="form-label"> <strong> Orçamento </strong></label>
            <input type="email" class="form-control" id="orcamento" name="orcamento" readonly>
       </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary  w-100  btn-block">Pesquisar</button>
        </div>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label"><strong> Número Processo </strong></label>
                <input type="password" class="form-control" id="Nprocesso" name="Nprocesso" placeholder="Número Processo" readonly>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label"><strong> Descrição do Produto </strong></label>
            <input type="text" class="form-control" readonly placeholder="Descrição" id="descricao" name="descricao">
        </div>
    </div>
  </form>
</body>
</html>






