@model lotesModel.ArlaLotes;



<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<form class="form-inline" asp-controller="lotes" asp-action="EditarLotes" method="post">
    @if (Model != null)
    {
    <table style="width: 100%;">
            <tr>
                <td> Id </td>
                <td> <input type='text' name='Id' value='@Model.id' readonly/></td>
            </tr>
            <tr>
                <td> Fator de calibração </td>
                <td> <input type='text' name='lote' value='@Model.lote' /></td>
            </tr>
            <tr>
                <td> Anexo </td>
                <td> <input type='text' name='anexo' value='@Model.anexo' /></td>
            </tr>
            </table>
 

        }
    <br />
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary  w-100  btn-block">Editar</button>
    </div>


</form>
